header {
    margin-bottom: -100px;
    background: linear-gradient(175deg, #fbd062 70%, white 70%);
    min-height: 780px;
    
}

@media(max-width: 780px) {
    header {
        min-height: 1000px;
        margin-bottom: -200px;
    }
}
@media(max-width: 980px) {
    header {
        min-height: 700px;
        margin-bottom: -150px;
    }
}